.goal-item {
  margin: 1rem 0;
  background: #8b005d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.5rem 1rem;
}

.goal-item-description{
  width:60%;
}

.goal-item.completed{
  /* text-decoration: line-through; */
  background-color: #b98eaf;
  opacity: 50%;
}

.goal-item-description h3{
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 0.7cm;
}

.goal-item-description h4{
  line-height: 0.1cm;
  font-weight: 0.2rem;
}

.goal-item-icons i{
  margin: 0rem 0.5rem;
}

.goal-item-inputBox{
  display: flex;
  justify-content: space-between;
}

.goal-item-inputBox input{
  width: 40%;
  padding: 0.5rem;
  outline: none;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 0.2rem;
  font-size: 1rem;
}

.goal-item-inputBox button{
  padding: 0.5rem 1rem;
  margin:0 0.2rem;
  border-radius: 0.2rem;
  background: #8b005d;
  color: white;
  border: none;
  outline: none;
  font-size: 1rem;
}


@media screen and (max-width: 700px) {
  .goal-item-inputBox input{
    width: 40%;
  }
}