.account{
    display: flex;
    justify-content: center;
}

.user{
    background-color: white;
    color: black;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 0.5rem;
    width: 30%;
}

.user h2{
    color: #8b005d;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .user{
        width: 90%;
    }
}
