.account{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.user{
    background-color: white;
    color: black;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 0.5rem;
}