.account{
    display: flex;
    justify-content: center;
}

.user{
    background-color: white;
    color: black;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 0.5rem;
}

.user h2{
    color: #8b005d;
}