
.goals {
  width: 35rem;
  max-width: 90%;
  margin: 3rem auto;
}

.goalForm {
  width: 30rem;
  max-width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;
}

.userDetails p{
  color: white;
  text-align: center;
  margin-top: 3rem;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* top: 0; */
  text-align: center;
  background-color: #8b005d;
  color: white;
  padding: 0.2rem 2rem;
}

.user h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttons i{
  font-size: 1.2rem;
}

.buttons button {
  color: white;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-size: 0.9rem;
}

.buttons button:hover{
  transform: scale(1.05);
}

.userDetails{
  color: white;
  text-align: center;
}

.userDetails h3{
  font-weight: 400;
}

footer{
  margin-top: 1rem;
  color: white;
  position: absolute;
  bottom: 1rem;
  left: 0rem;
  width: 100%;
  position: sticky;
}

footer p{
  text-align: center;
}

footer span{
  color: red;
}

@media screen and (max-width: 700px) {
  .buttons button{
    padding: 0.5rem;
  }
  .buttons{
    gap: 0.3rem;
  }
  .user{
    padding: 0.2rem 1rem;
  }
}

