.goals {
  width: 35rem;
  max-width: 90%;
  margin: 3rem auto;
}

.goals p{
  color: white;
}

.goalForm {
  width: 30rem;
  max-width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* top: 0; */
  text-align: center;
  background-color: #8b005d;
  color: white;
  padding: 0.2rem 2rem;
}

.user h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.buttons{
  display: flex;
  gap: 1rem;
}

.buttons a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

@media screen and (max-width: 700px) {
  .buttons a{
    padding: 0.5rem;
  }
  .buttons{
    gap: 0.5rem;
  }
  .user{
    padding: 0.2rem 1rem;
  }
}

